body {}

/*Navbar section */

#navbar {
  background-color: #519872;
}

/* Bio Section */

#Bio {
  background-color: #91d18b;
}

.bio-p {
  padding: 3%;
  color: black;
  text-align: left;
}

.Bio-head {
font-size: 1.5rem;
text-align: center;
}

.t-div {}

.title-image {
  padding-bottom: 1rem;
  border-radius: 100%;
  width: 70%;
  margin-left: 30%;
  padding: 3%;
}

/*hoppies section  */
#hobbies {

}

.interest-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #91d18b;
  margin-bottom: 1rem;
}

/* higlights section */

.fas{

  color: black;
}
#highlights {
  background-color: #91d18b;
  text-align: center;
}

.car-item-pd {
  padding-bottom: 4rem;
}

/* footer section */

#footer {
  text-align: center;
  padding: 5%;
}

.f-icon {
  padding: 10px;
}

.footer-p {
  margin-top: 10px;
}