body {}

/*Navbar section */

#navbar {
  background-color: #519872;
  color: wh;
}

.nav-link {
font-weight: 600;
}


/* Bio Section */

#Bio {
  background-color: #91d18b;
}

.Bio-head {
  font-size: 1.5rem;
  text-align: center;
  }
  
.bio-p {
  padding: 3%;
  color: black;
  font-weight: 700;
  text-align: left;
}

.title-image {
  padding-bottom: 1rem;
  border-radius: 100%;
  width: 70%;
  margin-left: 30%;
  padding: 3%;
}

/*hoppies section  */
#hobbies {

}

.interest-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #96bb7c;
  margin-bottom: 1rem;
}

/* higlights section */

#highlights {
  background-color: #91d18b;
  text-align: center;
}

.car-item-pd {
  padding-bottom: 4rem;
}

.carousel-inner {

  padding: 5%;
}

.car-h {

  margin-bottom: 2rem;
}

/* footer section */

#footer {
  text-align: center;
  padding: 5%;
}

.f-icon {
  padding: 10px;
}

.footer-p {
  margin-top: 10px;
}